<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/dashboard.css" rel="stylesheet">
        <%include admin/layout/head%>
    </head>
    <body>
        <%include admin/layout/navbar%>

        <%include admin/post/table_content%>
    </body>
</html>